@model IEnumerable<FoodApp.UI.Models.DTO.FoodItemDto>

<h1 class="mt-3">Food items</h1>

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-secondary" asp-controller="FoodItem" asp-action="Create">Create Food Item</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount in grams</th>
            <th>Price</th>
            <th>
                @Html.ActionLink("Price Per 100g of Protein", "Index", new { sortOrder = "pricePerProtein" })
            </th>
            <th>
                @Html.ActionLink("Calories Per 100g of Protein", "Index", new { sortOrder = "caloriesPerProtein" })
            </th>
            <th>
                @Html.ActionLink("Score", "Index", new { sortOrder = "score" })
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var foodItem in Model)
        {
            <tr>
                <td>@foodItem.Name</td>
                <td>@foodItem.WeightInGrams</td>
                <td>@foodItem.Price</td>
                <td>@foodItem.PricePerHundredGramsOfProtein</td>
                <td>@foodItem.CalPerHundredGramsOfProtein</td>
                <td>@foodItem.Score</td>
                <td>
                    <a class="btn btn-primary" asp-controller="FoodItem" asp-action="Update" asp-route-id="@foodItem.Id">Edit</a>
                    <a class="btn btn-danger" asp-controller="FoodItem" asp-action="Delete" asp-route-id="@foodItem.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
